* {
  font-family: "SansSerif";
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

:host {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#logo-top {
  height: 20px;
  padding-left: 20px;
}

#logo-bot


tom {
  align-self: flex-start;
  height: 20px;
  padding-bottom: 15px;
  padding-top: 5px;
}

#header-area {
  min-height: 50px;
  background: #080874;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 10px 6px #A9A9A9;
  margin-bottom: 20px;
}

.main-area {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
}

.container {
  padding-top: 18px;
  padding-bottom: 45px;
  width: 800px;
}

#footer-area {
  display: flex;
  flex-direction: column;
  height: 270px;
  background-color: #080874;
  padding: 10px 85px 10px 85px;
}

.anchor-column-container {
  display: flex;
  flex-direction: column;
  align-content: space-evenly;
  margin-left: 40px;
  margin-right: 350px;
}
.anchor-column-container li{
  list-style-type:none;
  padding-top: 10px;
}
.anchor-column-container a {
  color: #bab7b7;
  text-decoration: none;
}

#footer-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#anchors-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: solid #9d9faf;
  border-width: 1px 0px 0px 0px;
  padding: 10px 0px 30px 0px;
}

#anchors-container a {
  cursor: pointer;
}

.icon-anchor-color {
  position: relative;
  margin-right: 10px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  height: 30px;
  width: 30px;
  color: #ffffff;
  transition: all .2s linear;

}

.icon-anchor-color:last-child{
  margin-right: 0;
}

.icon-anchor-color:hover {
  background: #ffffff;
  color: #000000;
  transition: all .2s linear;
}

#social a fa-icon {
  /*display: inline-block;*/
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
}

#social {
  display: flex;
}

#social a {
  cursor: pointer;
}

#copyright {
  color: #939ba8;
}

#copyright p {
  margin: 0px;
  padding: 0px;
}




