<nav id="header-area">
  <img src="assets/FullLogo_Transparent_NoBuffer.png" id="logo-top">
</nav>
<main class="main-area">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>
<footer id="footer-area">
  <img src="assets/FullLogo_Transparent_NoBuffer.png" id="logo-bottom">
  <div id="anchors-container">
    <ul class="anchor-column-container">
      <li><a href=#>How to learn?</a></li>
      <li><a href=#>Strategy</a></li>
      <li><a href=#>New members</a></li>
    </ul>
    <ul class="anchor-column-container">
      <li><a href=#>What is new?</a></li>
      <li><a href=#>Brain maps</a></li>
      <li><a href=#>Solving problems</a></li>
    </ul>
    <ul class="anchor-column-container">
      <li><a href=#>About us</a></li>
      <li><a href=#>Location</a></li>
      <li><a href=#>Contact</a></li>
    </ul>
  </div>
  <div id="footer-bottom">
    <div id="copyright">
      <p>&copy; 2022 LearnSmart</p>
    </div>
    <div id="social">
      <a class="icon-anchor-color">
        <fa-icon [icon]="faFacebookF"></fa-icon>
      </a>
      <a class="icon-anchor-color">
        <fa-icon [icon]="faLinkedin"></fa-icon>
      </a>
      <a class="icon-anchor-color">
        <fa-icon [icon]="faTwitter"></fa-icon>
      </a>
      <a class="icon-anchor-color">
        <fa-icon [icon]="faInstagram"></fa-icon>
      </a>
    </div>
  </div>
</footer>
